.A1{
    background-color: rgb(243, 248, 243);
    border: 1px solid black;
}
.A2{
    background-color: red;
    border: 1px solid black;
}

A3{
    background-color: rgb(9, 255, 0);
   

}

.lorem{
    background-color: yellow;
}