*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 100vh;

}
.card{
    width: 360px;
    height: 70px;
}